*.pyc
*.flac
.vscode
data/*
perf_logs/*
results/*
datasets/
batnet.conf
IdentifiedSoFar.txt
IdentifiedSoFar.txt.bak
Baters_Guide_Installer_Configuration.txt
batnet/
templates/*.service
scripts/*.txt
scripts/bats.db
analyzing_now.txt
apprise.txt
BatDB.txt
exclude_species_list.txt
firstrun.ini
HUMAN.txt
include_species_list.txt
